{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load accounts_extras %}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<style>
  .container {
    max-width: 550px;
  }

  .column {
    margin-top: 20px;
  }

  .filter-form {
    margin-left: 35%;
  }

  .filter-form button {
    margin-left: 18%;
  }
</style>

<section class="main-body">
  <h1>Hello {{user}}! Welcome to Stutor...</h1>
  <form class="filter-form" action="" method="GET">
    <!-- <input type="text" placeholder="filter" style="margin-left:80%"> -->
    {{filter.form.as_p}}
    <button class="btn btn-primary">Filter</button>
  </form>
  {% for users in tutor_page_obj %}

  <div class="column">

    <div class="container">


      <table class="table table-striped">
        <center>
          <div>
            <img src="{{users.profile_pic.url}}" width="100" height="100">
            <br>
          </div>
        </center>

        <tbody>

          <tr>
            <th scope="row"></th>
            <td><b>Id:</b></td>
            <td>:</td>
            <td>{{ users.id }} </td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td><b>Name:</b></td>
            <td>:</td>
            <td>{{users.user.first_name}} {{users.user.last_name}} </td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td><b>Specialization:</b></td>
            <td>:</td>
            <td>{{users.specialization}} </td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td><b>Availability: </b></td>
            <td>:</td>
            <td>Available</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td><b>City </b></td>
            <td>:</td>
            <td> {{users.country}}</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td><b>Coaching Address: </b></td>
            <td>:</td>
            <td>{{users.homeaddress}}, {{users.country}}</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td><b>Discription</b></td>
            <td>:</td>
            <td>{{users.about}}</td>
          </tr>
        </tbody>
    </div>
  </div>
  {% endfor %}
</section>
<div class="pagination">
  <span class="step-link">
    {% if tutor_page_obj.has_previous %}
    <a href="{% my_url 1 'page' request.GET.urlencode %}">&laquo; First</a>
    <a href="{% my_url tutor_page_obj.previous_page_number 'page' request.GET.urlencode %}">Previous</a>
    {% endif %}

    <span class="current">
      Page {{tutor_page_obj.number}} of {{tutor_page_obj.paginator.num_pages}}
    </span>

    {% if tutor_page_obj.has_next %}
    <a href="{% my_url tutor_page_obj.next_page_number 'page' request.GET.urlencode %}">Next</a>
    <a href="{% my_url tutor_page_obj.paginator.num_pages 'page' request.GET.urlencode %}">&raquo; Last</a>
    {% endif %}
  </span>
</div>
{% endblock %}