{% extends 'base.html' %}
{% load static %}


{% block content %}
<section class="main-body">
    <h1>Welcome to Stutor, {{user}}</h1>
    {% for users in queryset %}
    <div class="column">
        <div class="card">
            <div class="new_clm">
                <img src="{{users.profile.profile_pic.url}}">
            </div>
            <div class="new_clm">
                <p><b>Id: </b></p>
                <p>{{users.id}}</p>
                <p><b>Name: </b></p>
                <p>{{users.first_name}} {{users.last_name}}</p>

                <p><b>Specialization: </b></p>
                <p>{{users.profile.specialization}}</p>
                <p><b>Availability: </b></p>
                <p>Available</p>
                <p><b>Coaching Address: </b></p>
                <p>{{users.profile.homeaddress}}, {{users.profile.country}}</p>
            </div>
            <div class="new_clm">
                <p><b>Discription</b></p>
                <p>{{users.profile.about}}</p>
                
            </div>
        </div>
    </div>
    {% endfor %}
</section>
{% endblock %}